.admin-new-product .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.admin-new-product input.sr-only:checked ~ .box {
    background-color: #f97316;
}
.admin-new-product .tich {
    opacity: 0;
}
.admin-new-product input.sr-only:checked ~ .box .tich {
    opacity: 1;
}
